* {
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* bagian kiri */
#satu {
  width: 280pt;
  height: 350pt;
}
.containerone {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 3px solid #f39c12;
  border-radius: 10px;
  margin-top: 10px;
}
.containerone h2 {
  margin-top: 10px;
  font-size: 28px;
  color: #f39c12;
  text-align: center;
}

.form {
  background: #ffffff;
  padding: 10px;
  border-radius: 3px;
}
.form label {
  color: #f39c12;
  font-size: 18px;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 13px 0px;
  padding: 8px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 20px;
}
.form select {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 13px 0px;
  padding: 8px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 18px;
}
a {
  margin-top: 10px;
  padding: 5px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #f39c12;
  text-align: center;
  color: #fefefe;
  text-decoration: none;
}

a:hover {
  background-color: #e67e22;
}

.petunjuk {
  font-size: 13px;
  text-align: center;
  margin-top: 15px;
}

/* bagian kanan */

#cetak {
  width: 280pt;
  height: 350pt;
  margin-top: 10px;
}
.containertwo {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 10px;
  border: 3px solid #f39c12;
  margin-left: 10px;
  margin-right: 10px;
}
.header {
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.title {
  color: #f39c12;
  font-size: 18px;
  line-height: 40px;
}

.tanggal {
  color: #f39c12;
  font-size: 17px;
  text-align: right;
  line-height: 40px;
}

.judul {
  height: 70px;
  background-color: #f39c12;
  text-align: center;
}
.judul h2 {
  color: #fefefe;
  line-height: 70px;
}

.judul p {
  color: #fefefe;
  padding: 5px;
  font-size: 20px;
}

.page {
  text-align: center;
  background-color: #fefefe;
  color: #5c5c78;
}
.page p {
  margin-top: 10px;
  padding: 13px;
}
.page h2 {
  font-size: 28px;
  padding: 5px;
  margin-bottom: 10px;
  color: #fefefe;
  background-color: #f39c12;
}
.page h3 {
  padding: 10px;
}

.bill {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.bill h2 {
  padding: 20px;
  color: #f39c12;
  border: 2px solid #f39c12;
}
.bill p {
  padding: 20px;
  background-color: #f39c12;
  color: #fefefe;
  font-size: 30px;
  font-weight: 700;
}
.footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  font-size: 18px;
  color: #f39c12;
}

@media (max-width: 700px) {
  .wrapper {
    padding: 10px;
    height: auto;
    flex-direction: column;
  }
  .containerone {
    flex-direction: column-reverse;
    width: 80vw;
    margin-left: 10px;
  }
  .form {
    margin-top: 25px;
  }
  .containerone h2 {
    margin-bottom: 10px;
  }

  .petunjuk {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .containertwo {
    width: 80vw;
    margin-top: 20px;
    margin-left: 10px;
  }
}
