* {
  margin: 0;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerone {
  width: 40vw;
  height: 280px;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  padding: 25px;
  border: 3px solid #f39c12;
  border-radius: 10px;
}
.containerone h2 {
  font-size: 28px;
  color: #f39c12;
  text-align: center;
}

.form {
  background: #ffffff;
  border-radius: 3px;
  margin-top: 25px;
  text-align: center;
}
.form label {
  color: #f39c12;
  font-size: 25px;
}

.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 15px 0px;
  padding: 15px;
  border-radius: 3px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: center;
}

a {
  margin-top: 10px;
  padding: 15px;
  font-size: 20px;
  border-radius: 10px;
  background-color: #f39c12;
  text-align: center;
  color: #fefefe;
  text-decoration: none;
}

a:hover {
  background-color: #e67e22;
}

.petunjuk {
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
}

span p {
  width: 40vw;
  padding: 15px 25px;
  line-height: 10px;
  text-align: center;
  color: #fefefe;
  background-color: #e74c3c;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 20px;
}

@media (max-width: 700px) {
  .wrapper {
    padding: 10px;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .containerone {
    width: 80vw;
  }
}
